@model Queues

@{
    ViewData["Title"] = "Print QueueNumber";
    Layout = "_FormLayout";
}

<header>
    <div class="container-fluid text-center">
        <div class="d-flex align-items-center justify-content-between px-3">
            <a class="navbar-brand">
                <img src="~/src/prg_logo.png" style="width:100px;height: 100px;object-fit: contain;" alt="Queue_Interview" />
            </a>
            @* <h2 class="fst-italic"> NO# </h2> *@
            <h5 class="fw-bold">@DateTime.ParseExact(Model.QueueId!.ToString(), "yyyyMMdd", null).ToString("MMMM d, yyyy")</h5>
        </div>

        <div class="d-flex flex-column align-items-center">

            <h1 class="fst-italic fw-bold text-center rounded-3 p-3 px-5" style="font-size: 96px; border: 1px solid gray">
                @if (Model.CategoryId == 1)
                {
                    <text>A - @Model.QueueNumber</text>
                }
                else if (Model.CategoryId == 2)
                {
                    <text>B - @Model.QueueNumber</text>
                }
                else if (Model.CategoryId == 3)
                {
                    <text>C - @Model.QueueNumber</text>
                }
                else if (Model.CategoryId == 4)
                {
                    <text>D - @Model.QueueNumber</text>
                }
            </h1>

            @* <div class="mt-2 mb-3">
                <h5 class="fw-bold">@DateTime.ParseExact(Model.QueueId!.ToString(), "yyyyMMdd", null).ToString("MMMM d, yyyy")</h5>
            </div> *@


            <div class="d-flex flex-column" style="border-bottom: 1px solid gray; padding-left: 4rem; padding-right: 4rem">
                <p class="mt-4 pb-3">SUPPLIER NAME:</p>
            </div>

        </div>

    </div>
</header>


<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>

    $(document).ready(function () {
        PrintQueueForm();
    });

    // Print
    function PrintQueueForm() {
        window.onafterprint = function () {
            window.location.href = "/RegisterPersonnel/Home";
        };

        // Define print styles
        var printStyles = `
            @@media print {
                @@page {
                    size: 2.5in 1.5in;
                    margin: 0;
                }

                body {
                    margin: 0;
                }

            }
        `;

        // Create a new stylesheet element
        var printStylesheet = document.createElement('style');
        printStylesheet.type = 'text/css';
        printStylesheet.innerHTML = printStyles;

        // Append the stylesheet to the document head
        document.head.appendChild(printStylesheet);

        window.print();
    }

</script>